
<div class="events-wrapper d-flex justify-content-start pb-4">
    <div class="card-deck d-inline-flex flex-nowrap justify-content-md-between mx-auto">
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <div class="d-block">
                        <img src="https://via.placeholder.com/200x133" alt="">
                    </div>
                    <h4 class="card-title">Krav Maga Academy</h4>
                    <p class="card-date">20. září 2017</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <a href="#">
                    <div class="d-block">
                        <img src="https://via.placeholder.com/200x133" alt="">
                    </div>
                    <h4 class="card-title">Úvodní seminář Nenechte si ubližovat!</h4>
                    <p class="card-date">14. září 2017</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <a href="#">
                    <div class="d-block">
                        <img src="https://via.placeholder.com/200x133" alt="">
                    </div>
                    <h4 class="card-title">Lipsum seminář Nenechte si junior!</h4>
                    <p class="card-date">20. září 2017</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <a href="#">
                    <div class="d-block">
                        <img src="https://via.placeholder.com/200x133" alt="">
                    </div>
                    <h4 class="card-title">Lipsum seminář pro seniory</h4>
                    <p class="card-date">20. září 2017</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>
    </div>
</div>