<div class="row">
    <div class="col text-left headline">
        <h3>Pobočky podle kraje</h3>
        <div class="line"></div>
    </div>
</div>

<ul class="list-unstyled region-list">
    <li><a href="clubs-region.html">Jihočeský kraj</a></li>
    <li><a href="clubs-region.html">Jihomoravský kraj</a></li>
    <li><a href="clubs-region.html">Karlovarský kraj</a></li>
    <li><a href="clubs-region.html">Královéhradecký kraj</a></li>
    <li><a href="clubs-region.html">Liberecký kraj</a></li>

    <li><a href="clubs-region.html">Moravskoslezský kraj</a></li>
    <li><a href="clubs-region.html">Olomoucký kraj</a></li>
    <li><a href="clubs-region.html">Pardubický kraj</a></li>
    <li><a href="clubs-region.html">hl.m. Praha</a></li>
    <li><a href="clubs-region.html">Plzeňský kraj</a></li>

    <li><a href="clubs-region.html">Středočeský kraj</a></li>
    <li><a href="clubs-region.html">Ústecký kraj</a></li>
    <li><a href="clubs-region.html">Kraj Vysočina</a></li>
    <li><a href="clubs-region.html">Zlínský Kraj</a></li>
</ul>