<p>Krav Maga Academy je největším a nejprofesionálnějsím českým klubem, který spadá pod mateřskou organizaci Krav Maga
    Global CZ. Jako jediný klub v České republice nabízí kurzy a semináře pro všechny sektory (civilisté, ženy, děti a
    ozbrojené složky, neziskové organizace aj.) a má tradici již od roku 2009. Vlastní zázemí nám umožňuje pro klienty
    pořádat další aktivity, jako např. volné tréninky, přednášky, tematické semináře a testování studentů. V prostorách
    akademie se koná také většina akcí v rámci Programu přípravy instruktorů a dalšího vzdělávání současných
    instruktorů.
</p>
<ul class="list-unstyled">
    <li class="font-weight-bold">Kontakt</li>
    <li>Krav Maga Academy</li>
    <li>email : info@krav-maga.cz</li>
    <li>tel.: +420 604 404 578</li>
</ul>
<ul class="list-unstyled">
    <li class="font-weight-bold">Krav Maga, o.s.</li>
    <li>Na Pankráci 32</li>
    <li>Praha 4, 147 00</li>
</ul>


