<div class="row">
    <div class="col text-left headline">
        <h3>Kurzy pro ženy</h3>
        <div class="line"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card card-box mt-3">
            <div class="card-body">
                <a href="#">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Začátečníci ženy </h4>
                        <span class="card-price">890 Kč</span>
                    </div>
                    <p class="card-date">
                        20. září 2017 - 31.ledna 2018
                    </p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit
                        amet leo accumsan lacinia. Nam quis nulla. Cum sociis natoque penatibus et magnis. Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit.
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="card card-box mt-3">
            <div class="card-body">
                <a href="#">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title">Pokročilí</h4>
                        <span class="card-price">990 Kč</span>
                    </div>
                    <p class="card-date">
                        20. září 2017 - 31.ledna 2018
                    </p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit
                        amet leo accumsan lacinia. Nam quis nulla. Cum sociis natoque penatibus et magnis. Lorem ipsum
                        dolor sit amet, consectetuer adipiscing elit.
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

