<div id="courses" class="course-menu card-deck">
    <h5 class="text-center"><a class="course-link" href="#courses">Kurzy</a></h5>
    <div class="card">
        <img class="card-img-top" src="KravMaga/media/KravMaga/Images/krav-1.png" alt="">
        <div class="card-body text-center d-flex align-items-center">
            <a class="btn-block" href="#"><h4 class="card-title">Dospělí</h4></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="KravMaga/media/KravMaga/Images/krav-1.png" alt="">
        <div class="card-body text-center d-flex align-items-center">
            <a class="btn-block" href="#"><h4 class="card-title">Děti</h4></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="KravMaga/media/KravMaga/Images/krav-1.png" alt="">
        <div class="card-body text-center d-flex align-items-center">
            <a class="btn-block active" href="courses-detail.html"><h4 class="card-title">Ženy</h4></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="KravMaga/media/KravMaga/Images/krav-1.png" alt="">
        <div class="card-body text-center d-flex align-items-center">
            <a class="btn-block" href="#"><h4 class="card-title">Ozbrojené složky</h4></a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="KravMaga/media/KravMaga/Images/krav-1.png" alt="">
        <div class="card-body text-center d-flex align-items-center">
            <a class="btn-block" href="#"><h4 class="card-title">Firmy</h4></a>
        </div>
    </div>
</div>