<div id="courses" class="course-menu card-deck">
    <div class="card">
        <a class="btn-block h-100" href="#">
            <img class="card-img-top" src="KravMaga/media/KravMaga/Images/course-adults.png" alt="">
            <div class="card-body text-center d-flex align-items-center">
                <div class="w-100 pt-md-2">
                    <h4 class="card-title">Dospělí</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="btn-block h-100" href="courses.html">
            <img class="card-img-top" src="KravMaga/media/KravMaga/Images/course-women.png" alt="">
            <div class="card-body text-center d-flex align-items-center">
                <div class="w-100 pt-md-2">
                    <h4 class="card-title">Ženy</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="btn-block h-100" href="#">
            <img class="card-img-top" src="KravMaga/media/KravMaga/Images/course-kids.png" alt="">
            <div class="card-body text-center d-flex align-items-center">
                <div class="w-100 pt-md-2">
                    <h4 class="card-title">Děti</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="btn-block h-100" href="#">
            <img class="card-img-top" src="KravMaga/media/KravMaga/Images/course-army.png" alt="">
            <div class="card-body text-center d-flex align-items-center">
                <div class="w-100 pt-md-2">
                    <h4 class="card-title">Ozbrojené složky</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="btn-block h-100" href="#">
            <img class="card-img-top" src="KravMaga/media/KravMaga/Images/course-company.png" alt="">
            <div class="card-body text-center d-flex align-items-center">
                <div class="w-100 pt-md-2">
                    <h4 class="card-title">Firmy</h4>
                </div>
            </div>
        </a>
    </div>
</div>