<div class="d-flex justify-content-md-center">
    <div class="col-md-6 left-part mx-auto">
        <img class="mt-5 mx-auto img-fluid d-block" src="KravMaga/media/KravMaga/Images/defense.png" alt=""/>
    </div>
    <div class="col-md-6 text-left">
        <h2><span class="h2">Obrana </span>proti útokům</h2>
        <div class="line"></div>
        <p>Systém KRAV MAGA, z hebrejštiny volně překládáno jako „boj zblízka“, je v současné době považován
            za nejefektivnější sebeobranný a taktický systém na světě, což mj. dokazuje přehled jednotek a
            armád, které tento systém převzaly. Jedná se například o ozbrojené složky státu Izrael a dále
            třeba americké federální služby.</p>
    </div>
</div>