<div class="modal fade" id="e-book" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <img class="img-fluid" src="KravMaga/media/KravMaga/Images/modal.png" alt="">
            <div class="modal-header align-items-start pt-4">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="">
                <div class="modal-body">
                    <p class="modal-title text-center">Zdarma e-book<br/>Krav Maga 101</p>
                </div>
                <div class="modal-footer pl-5 pr-5 pt-4 d-flex justify-content-around flex-column">
                    <p class="modal-text text-center">
                        Copy Příběh začíná 2. října roku 1872 v Londýně a jeho hlavními hrdiny jsou bohatý,
                        osamělý a svobodný anglický džentlmen Phileas Fogg se svým francouzským sluhou.
                    </p>
                    <form class="d-md-flex d-sm-block justify-content-center pt-3">
                        <input type="email" class="form-control input-email mr-3 mb-3" placeholder="Váš Email">
                        <button type="submit" class="btn btn-block btn-modal">Odeslat</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>