<!--<h2 class="text-center">Eventy<span class="h2"></span></h2>-->
<!--<div class="line-center"></div>-->
<div class="events-wrapper d-flex justify-content-start pb-4">
    <div class="card-deck d-inline-flex flex-nowrap justify-content-md-between mx-auto">
        <div class="card">
            <div class="card-body">
                <a href="#">
                    <div class="img-wrapper">
                        <img src="KravMaga/media/KravMaga/Images/event-1.png" width="189" height="72" alt="">
                    </div>
                    <h4 class="card-title">Krav Maga Academy</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <a href="#">
                    <div class="img-wrapper">
                        <img src="KravMaga/media/KravMaga/Images/event-2.png" width="197" height="76" alt="">
                    </div>
                    <h4 class="card-title">Úvodní seminář Nenechte si ubližovat!</h4>
                    <p class="card-date">14. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <a href="#">
                    <div class="img-wrapper">
                        <img src="KravMaga/media/KravMaga/Images/event-3.png" width="157" height="63" alt="">
                    </div>
                    <h4 class="card-title">Lipsum seminář Nenechte si junior!</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <a href="#">
                    <div class="img-wrapper">
                        <img class="" src="KravMaga/media/KravMaga/Images/event-4.png" width="161" height="90" alt="">
                    </div>
                    <h4 class="card-title">Lipsum seminář pro seniory</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>
    </div>
</div>