<div class="footer-bottom d-flex justify-content-between flex-wrap pt-sm-5">
    <div class="order-2 order-sm-1">
        <ul class="list-unstyled opacity">
            <li><a href="#"><img src="KravMaga/media/KravMaga/Images/f1.png"></a></li>
            <li class="p-2">
                <address>
                    Krav Maga Global Czech Republic<br/>
                    Na Pankráci 32, Praha 4, 147 00<br/>
                    č.ú.: 4811285001/5500
                </address>
            </li>
            <li class="p-2 copyright"><p>&copy; 2015 Krav Maga ČR.</p></li>
        </ul>
    </div>
    <div class="p-2 d-none d-sm-flex flex-column order-sm-2">
        <ul class="list-unstyled">
            <li><a href="#">Uvod</a></li>
            <li><a href="#">Kurzy</a></li>
            <li><a href="#">Eventy</a></li>
            <li><a href="#">Kluby</a></li>
            <li><a href="#">Eshop</a></li>
            <li><a href="#">Kontakty</a></li>
        </ul>
    </div>
    <div class="course-list p-2 d-none d-md-flex flex-column order-sm-3">
        <span class="headline font-weight-bold">Kurzy</span>
        <ul class="list-unstyled">
            <li><a href="#">Dospělí</a></li>
            <li><a href="#">Ženy</a></li>
            <li><a href="#">Děti</a></li>
            <li><a href="#">Profesionálové</a></li>
            <li><a href="#">Firmy</a></li>
        </ul>
    </div>
    <div class="social-media p-2 d-flex flex-column order-1 order-sm-4 mx-auto mx-sm-0">
        <span class="headline font-weight-bold d-none d-sm-inline">Najdete nás</span>
        <ul class="list-inline list-unstyled d-flex flex-row flex-sm-column">
            <li>
                <a href="#">
                    <i class="fontawesome-facebook-sign d-inline d-sm-none"></i>
                    <span class="d-none d-sm-inline">Facebook</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-instagram d-inline d-sm-none"></i>
                    <span class="d-none d-sm-inline">Instagram</span>
                </a>
            </li>
            <li class="d-sm-none">
                <a href="#">
                    <i class="fontawesome-google-plus d-inline d-sm-none"></i>
                    <span class="d-none d-sm-inline">Google+</span>
                </a>
            </li>
            <li class="d-sm-none">
                <a href="#">
                    <i class="fontawesome-linkedin-sign d-inline d-sm-none"></i>
                    <span class="d-none d-sm-inline">LinkedIn</span>
                </a>
            </li>
            <li class="d-sm-none">
                <a href="#">
                    <i class="fontawesome-twitter d-inline d-sm-none"></i>
                    <span class="d-none d-sm-inline">Twitter</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zocial-youtube d-inline d-sm-none"></i>
                    <span class="d-none d-sm-inline">YouTube</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="other-projects p-2 d-none d-sm-flex flex-column order-sm-5">
        <span class="headline font-weight-bold">Další projekty</span>
        <ul class="list-unstyled">
            <li><a href="#"><img src="KravMaga/media/KravMaga/Images/f2.png"></a></li>
            <li><a href="#"><img src="KravMaga/media/KravMaga/Images/f3.png"></a></li>
            <li><a href="#"><img src="KravMaga/media/KravMaga/Images/f6.png"></a></li>
            <li><a href="#"><img src="KravMaga/media/KravMaga/Images/f4.png"></a></li>
        </ul>
    </div>
</div>