<h2 class="text-center">Fotoalbum</h2>
<div class="line-center"></div>
<div class="fotoalbum-wrapper">
    <div class="card-columns d-inline-flex flex-md-wrap justify-content-md-around">
        <div class="card mr-4 mb-4">
            <a href="KravMaga/media/KravMaga/Images/km-img1.png" data-fancybox="fotoalbum">
                <img src="KravMaga/media/KravMaga/Images/km-img1.png" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199136783476210.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199136783476210.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199140600142495.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199140600142495.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199138510142704.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199138510142704.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199139990142556.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199139990142556.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199137593476129.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199137593476129.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199137043476184.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199137043476184.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199136933476195.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199136933476195.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199140086809213.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199140086809213.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199137593476129.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199137593476129.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199139990142556.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199139990142556.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199138510142704.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199138510142704.jpg" alt=""/>
            </a>
        </div>
        <div class="card mr-4 mb-4">
            <a href="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199140600142495.jpg" data-fancybox="fotoalbum">
                <img src="http://www.krav-maga.cz/data/Image/galerie/i--letni-kmg-kemp---zadov-2011/facebook_photo_199140600142495.jpg" alt=""/>
            </a>
        </div>
    </div>
</div>