<!-- Touch slide for mobile -->
<div class="instructors-wrapper d-flex d-lg-none justify-content-start pb-4">
    <div class="card-deck d-inline-flex flex-nowrap justify-content-md-between mx-auto">
        <div class="instructor text-center">
            <div class="">
                <img class="img-fluid mx-auto d-block rounded-circle"
                     src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" alt="slide 1">
                <p class="instructor-name">Jan Novák</p>
                <p class="instructor-position">pozice</p>
            </div>
        </div>

        <div class="instructor text-center">
            <div class="">
                <img class="img-fluid mx-auto d-block rounded-circle"
                     src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" alt="slide 2">
                <p class="instructor-name">Jan Novák</p>
                <p class="instructor-position">pozice</p>
            </div>
        </div>

        <div class="instructor text-center">
            <div class="">
                <img class="img-fluid mx-auto d-block rounded-circle"
                     src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" alt="slide 3">
                <p class="instructor-name">Jan Novák</p>
                <p class="instructor-position">pozice</p>
            </div>
        </div>

        <div class="instructor text-center">
            <div class="">
                <img class="img-fluid mx-auto d-block rounded-circle"
                     src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" alt="slide 4">
                <p class="instructor-name">Jan Novák</p>
                <p class="instructor-position">pozice</p>
            </div>
        </div>

        <div class="instructor text-center">
            <div class="">
                <img class="img-fluid mx-auto d-block rounded-circle"
                     src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" alt="slide 5">
                <p class="instructor-name">Jan Novák</p>
                <p class="instructor-position">pozice</p>
            </div>
        </div>

        <div class="instructor text-center">
            <div class="">
                <img class="img-fluid mx-auto d-block rounded-circle"
                     src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" alt="slide 6">
                <p class="instructor-name">Jan Novák</p>
                <p class="instructor-position">pozice</p>
            </div>
        </div>

    </div>
</div>

<!-- Slider for Desktop -->
<div id="instructors-slider" class="d-none d-lg-block container carousel slide mt-2" data-ride="false" data-interval="false">
    <div class="carousel-inner row" role="listbox">
        <div class="carousel-item col active">
            <img class="img-fluid mx-auto d-block rounded-circle"
                 src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" width="132" height="132" alt="slide 1">
            <p class="instructor-name text-center">Jan Novák 1</p>
            <p class="instructor-position text-center">pozice</p>
        </div>
        <div class="carousel-item col">
            <img class="img-fluid mx-auto d-block rounded-circle"
                 src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" width="132" height="132" alt="slide 2">
            <p class="instructor-name text-center">Jan Novák 2</p>
            <p class="instructor-position text-center">pozice</p>
        </div>
        <div class="carousel-item col">
            <img class="img-fluid mx-auto d-block rounded-circle"
                 src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" width="132" height="132" alt="slide 3">
            <p class="instructor-name text-center">Jan Novák 3</p>
            <p class="instructor-position text-center">pozice</p>
        </div>
        <div class="carousel-item col">
            <img class="img-fluid mx-auto d-block rounded-circle"
                 src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" width="132" height="132" alt="slide 4">
            <p class="instructor-name text-center">Jan Novák 4</p>
            <p class="instructor-position text-center">pozice</p>
        </div>
        <div class="carousel-item col">
            <img class="img-fluid mx-auto d-block rounded-circle"
                 src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" width="132" height="132" alt="slide 5">
            <p class="instructor-name text-center">Jan Novák 5</p>
            <p class="instructor-position text-center">pozice</p>
        </div>
        <div class="carousel-item col">
            <img class="img-fluid mx-auto d-block rounded-circle"
                 src="KravMaga/media/KravMaga/Images/instructors/jakubnovak.png" width="132" height="132" alt="slide 6">
            <p class="instructor-name text-center">Jan Novák 6</p>
            <p class="instructor-position text-center">pozice</p>
        </div>
    </div>
    <a class="carousel-control-prev text-faded pr-5" href="#instructors-slider" role="button" data-slide="prev">
        <i class="fontawesome-angle-left text-muted"></i>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next text-faded pl-5" href="#instructors-slider" role="button" data-slide="next">
        <i class="fontawesome-angle-right text-muted"></i>
        <span class="sr-only">Next</span>
    </a>
</div>