<nav class="navbar navbar-dark navbar-expand-md justify-content-between main-nav">
    <div class="container">
        <a class="navbar-brand" href="homepage.html">
            <span>
                <img class="logo-desktop d-none d-md-block" src="KravMaga/media/KravMaga/Images/km-logo.png" width="182" height="85" alt="">
                <img class="logo-desktop d-none d-md-block ml-2 align-top" src="KravMaga/media/KravMaga/Images/km-ey.png" width="148" height="25" alt="">
                </span>
            <span>
                <img class="logo-mobile d-block d-md-none" src="KravMaga/media/KravMaga/Images/km-logo-m.png" width="131" height="42" alt="">
                <span class="d-inline d-md-none text-uppercase"><small>Czech Republic</small></span>
            </span>
        </a>
        <!--<img class="d-none d-lg-block pb-4 ml-2 mt-md-2" src="KravMaga/media/KravMaga/Images/km-cr.png" alt=""/>-->
        <!-- Mobile language selector -->
        <div class="dropdown d-block d-md-none mobile-lang-select">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CZ
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">EN</a>
            </div>
        </div>
        <button class="navbar-toggler align-self-start pt-3 border-0 collapsed" type="button" data-toggle="collapse"
                data-target="#mainMenu" aria-controls="" aria-expanded="false" aria-label="">
            <i class="fontawesome-reorder"></i>
        </button>
        <div id="mainMenu" class="collapse navbar-collapse mt-md-3 mb-md-5 flex-row flex-md-column align-self-middle align-items-end">
            <ul class="nav flex-column flex-md-row flex-md-wrap">
                <li class="nav-item d-block d-md-none">
                    <!-- Site search -->
                    <div class="input-group kmg-site-search pr-4">
                        <input class="form-control form-control-sm" type="search" placeholder="Hledaný výraz" id="search-input">
                        <span class="input-group-append">
                            <input type="submit" class="btn btn-outline-secondary fa-input" value="&#xf002;"/>
                        </span>
                    </div>
                </li>
                <li class="nav-item text-center pt-3 d-md-none">
                    <a class="btn btn-kv-menu" href="#" role="button" data-toggle="modal" data-target="#e-book">
                        <i class="fa fa-gift fa-2x"></i> <strong>E-book zdarma!</strong>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-us.html">O nás</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="clubs.html">Kluby</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="calendar.html">Kalendář akcí</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="become-instructor.html">Staň se instruktorem</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog.html">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="multimedia.html">Multimédia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Eshop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">kontakty</a>
                </li>
            </ul>
        </div>
    </div>
</nav>