<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>


<div class="modal fade" id="modal-login" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="modal-title mb-3 text-center">Přihlásit se</h3>
                <div class="form-group mb-3">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-envelope blue-form"></i>
                        <input type="email" class="form-control input-custom" placeholder="E-mail"/>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-lock blue-form"></i>
                        <input type="password" class="form-control input-custom" placeholder="Heslo"/>
                    </div>
                </div>
                <input type="submit" class="btn btn-custom-form shadow mb-3" value="Přihlásit"/>
                <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Zapamatujte si mě</label>
                </div>
            </div>
            <div class="modal-footer row mt-3 mb-4">
                <div class="col text-center">
                    <a href="/registration.html" class="regirect-link">Registrovat</a>
                    <a href="#" class="forgotten-pswd">Zapomenuté heslo</a>
                </div>
            </div>
        </div>
    </div>
</div>
