<div class="row">
    <div class="col text-left headline">
        <h3>Multimedia</h3>
        <div class="line"></div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-6 no-padding img-shadow">
        <a data-fancybox href="https://www.youtube.com/watch?v=dV9WYnYUM2k&t=10s&autoplay=1">
            <img src="KravMaga/media/KravMaga/Images/videoup.png" class="w-100" alt=""/>
        </a>
    </div>
    <div class="col-md-6 box-shadow">
        <div class="card-block ">
            <h4 class="card-title mt-lg-4 mt-md-2">Letní soustředění KMG ženy</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet
                leo accumsan lacinia. Nam quis nulla. Cum sociis natoque penatibus et magnis. Lorem ipsum dolor sit
                amet, consectetuer adipiscing elit.</p>
        </div>
    </div>
</div>