
<div class="events-wrapper pb-4">
    <div class="card-columns">
        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-img">
                    <a href="KravMaga/media/KravMaga/Images/km-img1.png" data-fancybox="fotoalbum">
                        <img class="img-fluid" src="https://via.placeholder.com/260x150" alt="">
                    </a>
                </div>
                <a href="#">
                    <h4 class="card-title">1 Krav Maga Academy</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-video">
                    <iframe class="kmg-video" id="player1" width="260" height="auto" src="https://www.youtube.com/embed/dV9WYnYUM2k?rel=0&wmode=Opaque&enablejsapi=1;showinfo=0;controls=1" frameborder="0" allowfullscreen></iframe>
                </div>
                <a href="#">
                    <h4 class="card-title">2 Úvodní seminář Nenechte si ubližovat!</h4>
                    <p class="card-date">14. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content.
                        This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-video">
                    <iframe class="kmg-video" id="player2" width="260" height="auto" src="https://www.youtube.com/embed/dV9WYnYUM2k?rel=0&wmode=Opaque&enablejsapi=1;showinfo=0;controls=1" frameborder="0" allowfullscreen></iframe>
                </div>
                <a href="#">
                    <h4 class="card-title">3 Lipsum seminář Nenechte si junior!</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-img">
                    <a href="KravMaga/media/KravMaga/Images/km-img1.png" data-fancybox="fotoalbum">
                        <img class="img-fluid" src="https://via.placeholder.com/260x150" alt="">
                    </a>
                </div>
                <a href="#">
                    <h4 class="card-title">4 Lipsum seminář pro seniory</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-img">
                    <a href="KravMaga/media/KravMaga/Images/km-img1.png" data-fancybox="fotoalbum">
                        <img class="img-fluid" src="https://via.placeholder.com/260x150" alt="">
                    </a>
                </div>
                <a href="#">
                    <h4 class="card-title">5 Lipsum seminář pro seniory</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-img">
                    <a href="KravMaga/media/KravMaga/Images/km-img1.png" data-fancybox="fotoalbum">
                        <img class="img-fluid" src="https://via.placeholder.com/260x150" alt="">
                    </a>
                </div>
                <a href="#">
                    <h4 class="card-title">6 Lipsum seminář pro seniory</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-video">
                    <iframe class="kmg-video" id="player3" width="260" height="auto" src="https://www.youtube.com/embed/dV9WYnYUM2k?rel=0&wmode=Opaque&enablejsapi=1;showinfo=0;controls=1" frameborder="0" allowfullscreen></iframe>
                </div>
                <a href="#">
                    <h4 class="card-title">7 Lipsum seminář pro seniory</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-img">
                    <a href="KravMaga/media/KravMaga/Images/km-img1.png" data-fancybox="fotoalbum">
                        <img class="img-fluid" src="https://via.placeholder.com/260x150" alt="">
                    </a>
                </div>
                <a href="#">
                    <h4 class="card-title">8 Lipsum seminář pro seniory</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="d-block multimedia-img">
                    <a href="KravMaga/media/KravMaga/Images/km-img1.png" data-fancybox="fotoalbum">
                        <img class="img-fluid" src="https://via.placeholder.com/260x150" alt="">
                    </a>
                </div>
                <a href="#">
                    <h4 class="card-title">9 Lipsum seminář pro seniory</h4>
                    <p class="card-date">20. září 2017 | Praha</p>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </a>
            </div>
        </div>
    </div>
</div>