<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-4">
        <div class="person-panel">
            <div class="row">
                <div class="col-md-4">
                    <img class="" src="KravMaga/media/KravMaga/Images/jakubotipka.png">
                </div>
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li class="font-weight-bold">Jakub Otipka</li>
                        <li>KM Stupeň Expert 2</li>
                        <li class="mb-3">CertifikaceCivil, L-E, VIP, Women, Kids</li>
                        <li>Telefon: +420 728 086 974</li>
                        <li>Email: <span>jakub@krav-maga.cz</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="person-panel">
            <div class="row">
                <div class="col-md-4">
                    <img class="" src="KravMaga/media/KravMaga/Images/jakubotipka.png">
                </div>
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li class="font-weight-bold">Jakub Otipka</li>
                        <li>KM Stupeň Expert 2</li>
                        <li class="mb-3">CertifikaceCivil, L-E, VIP, Women, Kids</li>
                        <li>Telefon: +420 728 086 974</li>
                        <li>Email: <span>jakub@krav-maga.cz</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="person-panel">
            <div class="row">
                <div class="col-md-4">
                    <img class="" src="KravMaga/media/KravMaga/Images/jakubotipka.png">
                </div>
                <div class="col-md-8">
                    <ul class="list-unstyled">
                        <li class="font-weight-bold">Jakub Otipka</li>
                        <li>KM Stupeň Expert 2</li>
                        <li class="mb-3">CertifikaceCivil, L-E, VIP, Women, Kids</li>
                        <li>Telefon: +420 728 086 974</li>
                        <li>Email: <span>jakub@krav-maga.cz</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>