<div class="sponsors-wrapper d-flex justify-content-between align-items-center">
    <div><img src="KravMaga/media/KravMaga/Images/sponsor1.png"></div>
    <div><img src="KravMaga/media/KravMaga/Images/sponsor2.png"></div>
    <div><img src="KravMaga/media/KravMaga/Images/sponsor3.png"></div>
    <div><img src="KravMaga/media/KravMaga/Images/sponsor4.png"></div>
    <div><img src="KravMaga/media/KravMaga/Images/sponsor5.png"></div>
    <div><img src="KravMaga/media/KravMaga/Images/sponsor6.png"></div>
</div>