<h2 class="text-center">Chci <span class="h2">začít</span></h2>
<div class="line-center"></div>
<div class="row">
    <div class="col-md-10 offset-md-1 text-center">
        <p class="">Ať už je vaší motivací zvýšení bezpečnosti nebo hledáte pravidelný pohyb,
            tréninky Krav Maga vám poskytnou jak důkladnou fyzickou, tak i psychickou přípravu a relevantní informace,
            které pomohou zvýšit bezpečí vám i vašim blízkým. Systém sebeobrany Krav Maga je vhodný pro každého nezávisle
            na věku nebo jakýchkoliv fyzických předpokladech. Pořádáme kurzy nejen pro dospělé, ale i děti, seniory nebo
            výhradně pro ženy. Trénovat s námi můžete začít kdykoliv, stačí si jen vybrat, jestli chcete docházet do
            pravidelných kurzů, navštívíte intenzivní semináře, nebo se přijdete s Krav Maga jednoduše seznámit na jeden z našich úvodních seminářů.
        </p>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a data-fancybox href="https://www.youtube.com/watch?v=dV9WYnYUM2k&t=10s&autoplay=1">
            <img src="KravMaga/media/KravMaga/Images/yt-bg.png" class="img-fluid" alt="Responsive image">
        </a>
    </div>
</div>