<ul class="list-unstyled list-inline anchor-menu d-flex flex-wrap flex-row">
    <li class="nav-item">
        <a href="#clubs" class="nav-link">Kluby</a>
    </li>
    <li class="nav-item">
        <a href="#events" class="nav-link">Kalendář</a>
    </li>
    <li class="nav-item">
        <a href="#instructors" class="nav-link">Instruktoři</a>
    </li>
    <li class="nav-item">
        <a href="#multimedia" class="nav-link">Multimedia</a>
    </li>
    <li class="nav-item">
        <a href="#blog" class="nav-link">Blog</a>
    </li>
</ul>
<!-- Scroll to top -->
<a href="#" class="scrollup"></a>