<ul class="list-unstyled list-inline anchor-menu d-flex flex-wrap flex-row">
    <li class="nav-item">
        <a href="#" class="nav-link">Eventy</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Ženy</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Děti</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Ozbrojené složky</a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link">Firmy</a>
    </li>
</ul>
<!-- Scroll to top -->
<a href="#" class="scrollup"></a>