<div class="content mb-5">
    <p class="perex mb-5">Perex Civilní forma systému Krav Maga je přizpůsobena tomu, aby ji byli schopni trénovat a také
        samozřejmě použít obyčejní lidé různých fyzických dispozic, jakéhokoliv věku, mladí i staří, muži i ženy.
    </p>
    <p>Oproti ostatním formám KM se civilní verze zaměřuje především na případy neozbrojené obrany proti několika
        útočníkům
        včetně případů, kdy jsou útočníci ozbrojeni noži, pistolemi či dalšími zbraněmi. Neméně důležitými tématy,
        kterým
        civilní verze KM věnuje pozornost, jsou: jak se zachovat ve stresových situacích, jak správně využít řízenou
        agresivitu a umět improvizovat ve vypjatých situacích.
    </p>
    <div class="text-center mt-2 mb-4">
        <img class="img-fluid" src="KravMaga/media/KravMaga/Images/coursesdetail.png">
    </div>
    <p>Pro zvládnutí předchozích dovedností se využívají speciální cvičení během tréninků, kdy se postupuje od
        jednoduchých
        sebeobranných technik až po realistické simulace ohrožení/útoku a to ať se jedná o rychlost, tempo, počet
        útočníků,
        viditelnost či místo (např. se také pořádají semináře CQB (close quarter battle) pro širokou veřejnost, kde se
        trénuje v dopravních prostředcích kupř. v autobuse, tramvaji, metru a starých budovách) Ale i přes maximální
        snahu o
        navození realistických podmínek útoků a ohrožení je vždy kladen velký důraz na bezpečnost studentů.
        Krav Maga je styl zajímavý jak pro osoby hledající skutečnou sebeobranu, tak i pro ty, co si chtějí rozšířit své
        znalosti a zkušenosti na poli bojových sportů. Krav Maga je zkrátka stylem, který nabízí nejefektivnější
        techniky
        obrany před všemi typy útoků.
    </p>
</div>