<nav class="navbar navbar-dark navbar-expand-md top-nav">
    <div class="container justify-content-end">
        <ul class="nav navbar-nav flex-row align-items-center pt-md-3">
            <li class="nav-item d-none d-md-inline">
                <a class="btn btn-kv-menu" href="#" role="button" data-toggle="modal" data-target="#e-book">
                    <i class="fa fa-gift fa-2x"></i> <strong>E-book zdarma!</strong>
                </a>
            </li>
            <li class="nav-item d-none d-md-inline">
                <a class="nav-link" href="#"><i class="zocial-facebook"></i></a>
            </li>
            <li class="nav-item d-none d-md-inline">
                <a class="nav-link" href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="nav-item d-none d-md-inline">
                <a class="nav-link" href="#"><i class="zocial-youtube"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link pl-md-3 pr-md-3" href="#" data-toggle="modal" data-target="#modal-login">Přihlášení</a>
            </li>
            <li class="nav-item d-none d-md-inline">
                <!-- Language selector -->
                <ul class="nav nabar-nav lang-select mr-md-3">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">CZ</a>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text">/</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ENG</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item d-none d-md-block active">
                <!-- Site search -->
                <div class="input-group kmg-site-search">
                    <input class="form-control form-control-sm search-input" type="search" placeholder="Hledaný výraz">
                    <span class="input-group-append">
                        <input type="submit" class="btn btn-outline-secondary fa-input" value="&#xf002;"/>
                    </span>
                </div>
            </li>
        </ul>
    </div>
</nav>
