<nav class="navbar navbar-dark navbar-expand-md top-nav">
    <div class="container justify-content-end">
        <ul class="nav navbar-nav flex-row align-items-center pt-md-3">
            <li class="nav-item d-none d-md-inline">
                <a class="btn btn-kv-menu" href="#" role="button" data-toggle="modal" data-target="#e-book">
                    <i class="fa fa-gift fa-2x"></i> <strong>E-book zdarma!</strong>
                </a>
            </li>
            <li class="nav-item d-none d-md-inline">
                <a class="nav-link" href="#"><i class="zocial-facebook"></i></a>
            </li>
            <li class="nav-item pl-2 d-none d-md-inline">
                <a class="nav-link" href="#"><i class="zocial-youtube"></i></a>
            </li>
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="nav-link pl-md-3 pr-md-3 dropdown-toggle" href="#" data-toggle="dropdown">viktor.pokorny@gmail.com</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">Můj profil</a>
                        <a class="dropdown-item" href="#">Moje akce</a>
                        <a class="dropdown-item" href="#">Zaplatit/zrušit akce</a>
                        <a class="dropdown-item" href="#">Odhlásit</a>
                    </div>
                </div>
            </li>
            <li class="nav-item d-none d-md-inline">
                <!-- Language selector -->
                <ul class="nav nabar-nav lang-select">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">CZ</a>
                    </li>
                    <li class="nav-item">
                        <span class="navbar-text">/</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ENG</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item d-none d-md-block active">
                <a class="nav-link" href="#">
                    <i class="fontawesome-search"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>