<div class="d-flex justify-content-center mediathek">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="video1" role="tabpanel" aria-labelledby="">
            <a data-fancybox href="https://www.youtube.com/watch?v=dV9WYnYUM2k&t=10s&autoplay=1">
                <img src="KravMaga/media/KravMaga/Images/video-placeholder.jpg" class="img-fluid" alt="Responsive image">
            </a>
            <h4 class="card-title">Sebeobrana pro ženy</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Nam quis nulla. Cum sociis natoque penatibus et magnis</p>
        </div>
        <div class="tab-pane fade show" id="video2" role="tabpanel" aria-labelledby="">
            <a data-fancybox href="https://www.youtube.com/watch?v=dV9WYnYUM2k&t=10s&autoplay=1">
                <img src="KravMaga/media/KravMaga/Images/video-placeholder.jpg" class="img-fluid" alt="Responsive image">
            </a>
            <h4 class="card-title">Obrana pro muže</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Nam quis nulla. Cum sociis natoque penatibus et magnis</p>
        </div>
        <div class="tab-pane fade" id="video3" role="tabpanel" aria-labelledby="">
            <a data-fancybox href="https://www.youtube.com/watch?v=dV9WYnYUM2k&t=10s&autoplay=1">
                <img src="KravMaga/media/KravMaga/Images/video-placeholder.jpg" class="img-fluid" alt="Responsive image">
            </a>
            <h4 class="card-title">Sebeobrana pro ženy</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Nam quis nulla. Cum sociis natoque penatibus et magnis</p>
        </div>
        <div class="tab-pane fade" id="video4" role="tabpanel" aria-labelledby="">
            <a data-fancybox href="https://www.youtube.com/watch?v=dV9WYnYUM2k&t=10s&autoplay=1">
                <img src="KravMaga/media/KravMaga/Images/video-placeholder.jpg" class="img-fluid" alt="Responsive image">
            </a>
            <h4 class="card-title">Obrana pro muže</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam in lorem sit amet leo accumsan lacinia. Nam quis nulla. Cum sociis natoque penatibus et magnis</p>
        </div>
    </div>
    <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link active" data-toggle="pill" href="#video1" role="tab" aria-controls="" aria-expanded="true">
            <img src="KravMaga/media/KravMaga/Images/video-thumb.jpg" alt="" />
            <span>Sebeobrana pro ženy</span>
        </a>
        <a class="nav-link" data-toggle="pill" href="#video2" role="tab" aria-controls="" aria-expanded="true">
            <img src="KravMaga/media/KravMaga/Images/video-thumb.jpg" alt="" />
            <span>Obrana pro muže</span>
        </a>
        <a class="nav-link" data-toggle="pill" href="#video3" role="tab" aria-controls="" aria-expanded="true">
            <img src="KravMaga/media/KravMaga/Images/video-thumb.jpg" alt="" />
            <span>Sebeobrana pro ženy</span>
        </a>
        <a class="nav-link" data-toggle="pill" href="#video4" role="tab" aria-controls="" aria-expanded="true">
            <img src="KravMaga/media/KravMaga/Images/video-thumb.jpg" alt="" />
            <span>Obrana pro muže</span>
        </a>
        <a class="nav-link" data-toggle="pill" href="#video3" role="tab" aria-controls="" aria-expanded="true">
            <img src="KravMaga/media/KravMaga/Images/video-thumb.jpg" alt="" />
            <span>Sebeobrana pro ženy</span>
        </a>
    </div>
</div>