<div class="row mb-2">
    <div class="col-md-10 offset-md-1 text-center">
        <p>
            Krav Maga Global je největší a nejprofesionálnější organizace zabývající se systémem Krav Maga na světě.
            V současné době má pobočky ve více než 50 zemích světa, mezi něž od roku 2007 patří i Česká republika.
            KMG je zároveň jedinou Krav Maga organizací na světě, která je oprávněná izraelským ministerstvem obrany
            vyučovat systém Krav Maga jakožto oficiální bojový a taktický systém izraelské armády (IDF).
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 ">
        <h6 class="text-center instructors">
            <span class="h6 numscroller d-inline-block text-right" data-min='1' data-max='246' data-delay='0' data-increment='1'>0</span>
            <span class="d-inline-block text-left">lektorů</span>
        </h6>
    </div>
    <div class="col-lg-4">
        <h6 class="text-center branches">
            <span class="h6 numscroller d-inline-block text-right" data-min='1' data-max='1200' data-delay='0' data-increment='5'>0</span>
            <span class="d-inline-block text-left">poboček</span>
        </h6>
    </div>
    <div class="col-lg-4">
        <h6 class="text-center clients">
            <span class="h6 numscroller d-inline-block text-right" data-min='1' data-max='24000' data-delay='0' data-increment='100'>0</span>
            <span class="d-inline-block text-left">klientů</span>
        </h6>
    </div>
</div>